<div class="tab-pane fade" id="pills-download-form" role="tabpanel" aria-labelledby="pills-download-form-tab">
    <h5 class="mt-4">Download Template</h5>
    <form method="GET" action="{% url 'cis:download_bulk_upload_template' %}">
        <div class="mb-3">
            <label for="fileFormat" class="form-label">Select File Format</label>
            <select id="fileFormat" name="file_format" class="form-select" required>
                <option value="csv">CSV</option>
                <option value="xlsx">XLSX</option>
            </select>
        </div>
        <button type="submit" class="btn btn-info">Download Template</button>
    </form>
</div>