# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ashiadey/

# Django stuff
*.log
*.sqlite3
db.sqlite3
.env

# Editor settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
