asgiref==3.8.1
boto3==1.35.2
botocore==1.35.2
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.8
Django==5.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
docutils==0.21.2
emoji==2.12.1
filelock==3.15.4
fonttools==4.53.1
idna==3.7
jmespath==1.0.1
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kiwisolver==1.4.5
matplotlib==3.9.2
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pathlib==1.0.1
pillow==10.4.0
platformdirs==4.2.2
pydroid==0.1.4
pygame==2.6.0
Pygments==2.18.0
pyparsing==3.1.2
pypiwin32==223
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
requests==2.32.3
s3transfer==0.10.2
seaborn==0.13.2
six==1.16.0
sqlparse==0.5.1
tk==0.1.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
